#trafficId {
  margin: 8px 0 15px 0;
}

.form-row {
	padding: 75px 0 0 0;
}

.errorMsg {
	color : red;
}

.clear-btn-row {
	padding: 10px 0;
}

#shortest-route-btn {
	margin-right: 25px;
}

#possible-routes-btn {
	margin: 10px 0;
}