<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Route ID</th>
      <th scope="col">Source</th>
      <th scope="col">Destination</th>
      <th scope="col">Distance(in LightYears)</th>
      <th scope="col">Traffic(in LightYears)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let route of routes; let ind = index">
      <th scope="row">{{ind+1}}</th>
      <td>{{route.routeId}}</td>
      <td>{{route.source}}</td>
      <td>{{route.destination}}</td>
      <td>{{route.distance}}</td>
      <td>{{route.traffic}}</td>
    </tr>
  </tbody>
</table>